body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size:30px;
}
.colour{
    color:rgb(246, 242, 7);
}
section{
    display: flex;
}
.half-width{
width:100%;
padding-left: 100px;
}
.half-width img{
    width:70%;
    height: 80%;
}